@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

/*
    Google Fonts
    font-family: 'Uchen', serif;
    Regular 400
*/

header {
    position: relative;
    margin: 0;
    background-color: saddlebrown;
    height: 160px;
}

    header h1 {
        margin: 0;
        padding: 0;
        font-size: 30px;
        color: antiquewhite;
        position: absolute;
        top: 25px;
        left: 135px;
        width: 400px;
    }

    header p {
        display: block;
        margin: 0;
        padding: 0;
        color: antiquewhite;
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
        height: 20px;
        position: absolute;
        top: 60px;
        left: 135px;
    }

    header nav {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }

        header nav ul {
            margin: 0;
        }

            header nav ul li {
                display: inline-block;
                padding-right: 30px;
            }

                header nav ul li:after {
                    display: block;
                    content: '';
                    border-bottom-color: antiquewhite;
                    border-bottom: solid 4px;
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                }

                header nav ul li.currentpage:after {
                    border-bottom-color: moccasin;
                    transform: scaleX(1);
                    transform: scale(1,3);
                }

                header nav ul li.currentpage a:hover,
                header nav ul li.currentpage a:active {
                    color: white;
                }

                header nav ul li a {
                    color: blanchedalmond;
                    display: block;
                    font-size: 1.5em;
                    font-weight: 400;
                    text-decoration: none;
                    padding: 8px 12px;
                }

        header nav li:hover,
        header nav li:active {
            border-bottom-color: antiquewhite;
        }

        header nav ul li a:hover,
        header nav ul li a:active {
            color: white;
        }

    header .headerlogo {
        display: block;
        float: left;
        margin-left: 25px;
        margin-top: 8px;
        margin-bottom: 10px;
    }

        header .headerlogo img {
            width: 100%;
            max-width: 90px;
            box-shadow: 4px 5px 5px #999;
            border-radius: 10px;
        }

main {
    background-color: blanchedalmond;
    color: saddlebrown;
    max-width: 960px;
    box-shadow: 20px 0 8px -12px #BBB, -20px 0 8px -12px #BBB;
    margin: 20px auto;
    padding: 20px;
}

footer {
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: saddlebrown;
    width: 100%;
    color: antiquewhite;
    height: 80px;
}

#headerStyle {
    color: saddlebrown;
}

.headerstyle {
    text-decoration: underline;
}

#footerStyle {
    background-color: saddlebrown;
    color: antiquewhite;
    font-size: 17px;
}

header nav ul li {
    color: saddlebrown;
    text-decoration: none;
    padding-left: 40px;
    transition: transform 280ms ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    color: #222;
    background-color: antiquewhite;
    background-size: cover;
    background-attachment: fixed;
}

.contact {
    width: 600px;
    margin: auto;
    overflow: auto;
    min-height: 800px;
    background-color: blanchedalmond;
}

    .contact .phone,
    .contact .email,
    .contact .address {
        font-size: 1.5em;
        border-top: solid 4px;
        border-bottom: solid 4px;
    }

    .contact .label {
        font-weight: bold;
        font-size: 1.2em;
        padding-right: 15px;
    }

    .contact h2 {
        text-align: center;
        font-size: 48px;
        margin-bottom: 80px;
        text-shadow: 2px 4px 5px darkgray;
    }

    .contact a {
        color: saddlebrown;
        text-decoration: underline;
    }

        .contact a:hover {
            color: rosybrown;
        }

.wrapper {
    margin: 0 20px;
}

.headerhr {
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background-color: moccasin;
}

header .socialheader {
    font-size: 30px;
    width: 203px;
    position: absolute;
    top: 30px;
    right: 0;
}

    header .socialheader ul,
    footer .socialfooter ul {
        margin: 0 20px;
    }

        header .socialheader ul li,
        footer .socialfooter ul li {
            display: inline-block;
            padding: 0 5px;
        }

    header .socialheader a,
    footer .socialfooter a {
        color: #FFF;
    }

        header .socialheader a:hover .fa-facebook-square,
        footer .socialfooter a:hover .fa-facebook-square {
            color: antiquewhite;
        }

        header .socialheader a:hover .fa-twitter-square,
        footer .socialfooter a:hover .fa-twitter-square {
            color: antiquewhite;
        }

        header .socialheader a:hover .fa-linkedin-square,
        footer .socialfooter a:hover .fa-linkedin-square {
            color: antiquewhite;
        }

footer .socialfooter {
    font-size: 30px;
}

.classes-grid a {
    color: inherit;
}

.card {
    display: block;
    float: left;
    border: 3px outset lightgray;
    padding: 4px;
    width: 235px;
    height: 370px;
    margin: 10px 35px;
    font-size: 19px;
}

    .card:hover {
        border-color: saddlebrown;
    }

.classesListing {
    border-top: 1px solid #EEE;
    margin-top: 30px;
    padding-top: 30px;
}

    .classesListing article {
        margin-bottom: 80px;
    }

.classTable {
    text-align: center;
}

    .classTable table {
        margin: auto;
        border-collapse: collapse;
    }

    .classTable h2 {
        font-size: 30px;
        text-shadow: 2px 4px 5px darkgray;
    }

    .classTable th,
    .classTable td {
        border: 1px solid #222;
        padding: 5px 8px;
    }

    .classTable thead th,
    .classTable tfoot td {
        background-color: saddlebrown;
        color: antiquewhite;
    }

    .classTable tr:nth-child(even) {
        background-color: saddlebrown;
        color: antiquewhite
    }

    .classTable tr {
        font-size: 20px;
    }

    .classTable tfoot td {
        height: 10px;
    }

.classTableFooterLink {
    color: antiquewhite;
    text-decoration: none;
}

.classTableCobol,
.classTableJCL,
.classTableAssembler,
.classTableVB,
.classTableCC,
.classTableCsharp {
    width: 900px;
}

.clear {
    clear: both;
}

.clear-right {
    clear: right;
}

.clear-left {
    clear: left;
}

.classes h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
    text-shadow: 2px 4px 5px darkgray;
}
