main{
    background-color: antiquewhite;
    color: saddlebrown;
}

footer{
    font-style: italic;
}

#headerStyle {
    color: saddlebrown;
}

.headerstyle{
    text-decoration: underline;
}

#footerStyle{
    background-color: saddlebrown;
    color: antiquewhite;
}

a{
    color: saddlebrown;
    text-decoration: none;
}
body{
    background-color: antiquewhite;
}